.alert {
    padding: 5px 10px;
    margin: 10px 0;
    position: relative;

    .close {
        position: absolute;
        right: 20px;
        top: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.info {
    background-color: dodgerblue;
    color: white;
}

.warning {
    background-color: rgb(241, 90, 36);
    color: white;
}